<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.set.mapper.advertisSchedule.AdvertisPushTimeMapper">
    <select id="searchPushtimeAdvertis" parameterType="Map" resultType="com.jfeat.am.module.set.model.Pushtimeadvertis">
        SELECT
          p.`id`,
          `pushAdvertisName`,
          `startTime`,
          `endTime`,
          `playTime`,
          u.name uidName
        FROM
          `pushTimeAdvertis` AS  p
        LEFT JOIN `user` AS u ON p.uid = u.id
        <where>
            <if test=" keyword != null and keyword != '' " >
                pushAdvertisName like CONCAT( "%" , keyword , "%" ) or
                startTime = #{keyword} or
                playTime = #{keyword} or
                endTime = #{keyword}
            </if>
            <if test=" uid != null and uid != '' ">
                uid = #{uid}
            </if>
            <if test=" id != null and id != '' ">
                p.id = #{id}
            </if>
        </where>
    </select>
    <insert id="addPushtimeAdvertis" parameterType="com.jfeat.am.module.set.model.Pushtimeadvertis">
        INSERT INTO `pushTimeAdvertis` (
          `pushAdvertisName`,
          `startTime`,
          `endTime`,
          `playTime`,
          `uid`
        )
        VALUES
        (
          #{pushAdvertisName} ,
          #{startTime} ,
          #{endTime} ,
          #{playTime} ,
          #{uid}
        ) ;
    </insert>
    <delete id="deletePushtimeAdvertis" parameterType="String">
        DELETE
        FROM
          `pushTimeAdvertis`
        WHERE `id` = #{id} ;
    </delete>
    <update id="updatePushtimeAdvertis" parameterType="Map">
        UPDATE
          `pushTimeAdvertis`
        <set>
           <if test="pushAdvertisName != null and pushAdvertisName != '' ">
               `pushAdvertisName` = #{pushAdvertisName} ,
           </if>
           <if test="startTime != null and startTime != '' ">
                startTime = #{startTime} ,
           </if>
           <if test="endTime != null and endTime != '' ">
                endTime = #{endTime} ,
           </if>
           <if test="playTime != null and playTime != '' " >
                playTime = #{playTime}
           </if>
        </set>
         <where>
             <if test=" id != null and id != '' ">
                 `id` = #{id}
             </if>
         </where>
    </update>
</mapper>