<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.set.mapper.advertisMaterial.AreaMapper">
    <select id="SearchArea" parameterType="String" resultType="com.jfeat.am.module.set.model.Area">
        SELECT
          `id`,
          `cityName`,
          `parentId`
        FROM
          `city`
        <where>
            <if test="value != null and value !='' ">
                id = #{value}
            </if>
        </where>
    </select>
    <select id="SearchParentCity" resultType="com.jfeat.am.module.set.model.Area">
        SELECT
          `id`,
          `cityName`,
          `parentId`
        FROM
          `city`
        where
          `parentId` = "0"
    </select>
    <select id="SearchCity" parameterType="Map" resultType="com.jfeat.am.module.set.model.Area">
        SELECT
          `id`,
          `cityName`,
          `parentId`
        FROM
          `city`
        <where>
            <if test=" city != '' and city != nll ">
                #{city} = `parentId`
            </if>
            <if test=" area != '' and area != null ">
                `id` = #{area}
            </if>
        </where>
    </select>

</mapper>